<!-- footer.ejs -->
<footer>
    <div class="footer-container">
        <!-- Social media icons -->
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/natnaelhhaile" class="fa-brands fa-linkedin-in" target="_blank"></a>
            <a href="https://github.com/natnaelhhaile" target="_blank" class="fa-brands fa-github"></a>
            <a href="#" class="fa-brands fa-x-twitter"></a>
            <a href="#" class="fa-brands fa-instagram"></a>
        </div>

        <!-- Copyright and trademark -->
        <div class="copyright">
            <p>&copy; <span id="current-year"></span> Natnael Haile. All rights reserved.</p>
        </div>
    </div>
</footer>

<!-- Script to display current year in footer -->
<script>
    document.getElementById("current-year").textContent = new Date().getFullYear();
</script>
