<!-- header.ejs -->
<header>
    <div class="header-container">
        <!-- Logo on the left -->
        <div class="logo">
            <a href="/dashboard" title="Return to Dashboard">
                <img src="/images/logo_m.png" alt="Logo" class="logo-img">
            </a>
        </div>

        <!-- Right section (Profile icon and Signout button) -->
        <div class="header-right">
            <div class="profile-logout">
                <a href="/profile" class="fa-solid fa-user" title="Profile Page"></a>
                <a href="/auth/logout" class="fa-solid fa-right-from-bracket" title="Logout"></a>
            </div>
        </div>
    </div>
</header>
