/******************************* General body styles *******************************/
:root {
    /* --primary-color: #7fc0b9; */
    --primary-color: #85cbcb;
    --bg-color: #E9F6F6;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color) !important;
    min-height: 100vh !important;
    display: flex;
    flex-direction: column;
}

a.fa-brands, a.fa-solid {
    color: #fff;
    text-decoration: none;
}

a[href=''] {
    pointer-events: none;
    text-decoration: none;
}

a.disabled {
    color: gray !important;
    text-decoration: none;
    cursor: not-allowed;
}


/* project-wide button 1 & 2 styles */

.btn-1 {
    background-color: var(--primary-color) !important;
    color: #fff !important;
}

.btn-2 {
    border-color: var(--primary-color) !important;
    background-color: transparent !important;
    color: var(--primary-color) !important;
}

.btn-1:hover {
    border-color: var(--primary-color) !important;
    background-color: transparent !important;
    color: var(--primary-color) !important;
}

.btn-2:hover {
    background-color: var(--primary-color) !important;
    color: #fff !important;
}

/******** project-wide success and error alerts *********/

/* Fade-out Animation */
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Alert Container */
.alert-container {
    position: fixed;
    top: 10px; /* Position at the top of the page */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.alert-container.alert {
    margin-bottom: 10px;
    padding: 15px;
    font-size: 1rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    animation: fadeIn 0.5s ease; /* Fade-in animation */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* Alert Colors */
.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

/* Smooth fade-out class */
.alert.fade-out {
    animation: fadeOut 0.5s ease forwards;
    pointer-events: none; /* Prevents interaction during fade-out */
}

.alert.fade {
    opacity: 0;
    transform: translateY(-20px);
}

.alert.show {
    opacity: 1;
    transform: translateY(0);
}

.btn-close {
    position: absolute;
    top: 0.5rem;
    right: 0.75rem;
}

/****************************** Header styling ******************************/

header {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.logo .logo-img {
    width: 100px;
    margin-left: 50px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.header-right {
    display: flex;
    align-items: center;
}

.profile-logout{
    margin-right: 50px;
}

.profile-logout a{
    padding-right: 15px;
}

.signout-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.signout-btn:hover {
    background-color: #c0392b;
}

/******************************* Footer styling *******************************/

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

footer {
    background-color: var(--primary-color);
    color: white;
    padding: 20px 0;
    text-align: center;
    flex-shrink: 0;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons a {
    padding: 7px;
}

.social-icons a:hover {
    color: #585656 !important;
}

.copyright {
    font-size: 14px;
    margin-top: 10px;
}

/******************************** Signup/Login Pages ********************************/

.logon-form{
    width: 40% !important;
}

.logon-img {
    width: 150px;
    height: 100px;
}

/******************************* Dashboard Styling *******************************/

.jobs-container {
    margin-top: 35px;
    width: 75% !important;
}

.jobs-pagination {
    width: 75%;
}

#jobs-list {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap; 
    padding: 20px; 
    box-sizing: border-box;
    margin: 35px auto;
}

#no-jobs-msg {
    display: none; 
    text-align: center; 
    margin-top: 20px;
}

.job-item {
    width: 75% !important;
}

.job-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    background-color: hwb(0 98% 2%);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.job-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.job-logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 5px;
}

.job-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.job-location,
.job-salary,
.job-type {
    font-size: 1rem;
    margin-top: 10px;
}

.job-type span {
    font-weight: bold;
    color: #28a745;
}

.remote-status {
    font-size: 1rem;
    font-weight: bold;
    color: #007bff;
}

btn-group {
    position: relative;
    float: right!important;
}

.btn-group .btn {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    font-size: 14px;
    /* font-weight: bold; */
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    color: white;
}

/* Add color styles for each site */

.active-filter {
    color: #fff;
    font-weight: bold !important;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.btn-all {
    background-color: #6ec8c8 !important;
    color: white !important;
}

.btn-linkedin {
    background-color: #0077b5 !important;
    color: white !important;
}

.btn-indeed {
    background-color: #dbdcf7 !important;
    color: #1a1fb4 !important;
}

.btn-glassdoor {
    background-color: #235333 !important;
    color: white !important;
}

.btn-zip_recruiter {
    background-color: #ff9f1c !important;
    color: white !important;
}

.btn-google {
    background-color: #db4437 !important;
    color: white !important;
}

.btn-facebook {
    background-color: #3b5998 !important;
    color: white !important;
}

.icon {
    width: 18px;
    height: 18px;
    margin: 0 3px 4px;
}

.job-filter .btn .fab {
    margin-right: 5px !important;
}

.job-logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.pagination-btn {
    border-radius: 4px;
    transition: all 0.3s ease;
    margin: 0 2px;
}

/******************************* Upload Resume *******************************/

.reupload-msg {
    color: #28a745;
    text-align: center;
    font-weight: bold;
}

/******************************* Profile Page *******************************/

.profile-page-list {
    width: 35%;
    text-align: center !important;
}

.d-flex h1 i {
    font-size: 2rem; /* Adjust icon size */
    color: #3f3f3f; /* Customize color */
}

.d-flex h6 {
    font-size: 1rem; /* Adjust text size */
    color: #555; /* Customize color */
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050; /* Ensure it appears on top */
}

.spinner-border {
    width: 3rem;
    height: 3rem;
}

.custom-spinner {
    color: var(--primary-color) !important;
}

/******************************** Home/Landing Pgae ********************************/

.body-landing-page {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Hero Section */
.hero-section {
    padding: 100px 0;
}

.hero-section h1 {
    font-size: 2.5rem;
    color: #2c3e50;
}

.hero-section p {
    font-size: 1.2rem;
    color: #34495e;
}

.hero-section img {
    max-width: 100%;
    border-radius: 10px;
}

/* Features Section */
.features-section {
    padding: 60px 0;
}

.features-section h2 {
    color: #2c3e50;
}

.features-section h5 {
    color: #5d6d7e;
}

.features-section p {
    color: #7f8c8d;
}

/* Application Management Section */
.application-management-section {
    padding: 60px 0;
}

.application-management-section h2 {
    color: #2c3e50;
}

.application-management-section h5 {
    color: #5d6d7e;
}

.application-management-section p {
    color: #7f8c8d;
}

/* Resume Parsing Section */
.resume-parsing-section {
    padding: 60px 0;
}

.pyramid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pyramid-level {
    text-align: center;
    margin-bottom: 20px;
}

.pyramid-level h5 {
    font-weight: bold;
}

.pyramid-level p {
    font-size: 0.9rem;
}

/* Call-to-Action Section */
.cta-section {
    padding: 60px 0;
}

.cta-section h2 {
    color: #2c3e50;
    margin-bottom: 40px;
}

.cta-section h5 {
    font-weight: bold;
}

.cta-section p {
    color: #7f8c8d;
}

/********************************* jobPost Page *********************************/

.card-body {
    background-color: var(--bg-color);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    color: #444 !important;
}